<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Consulta Financeira</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
  </head>

  <body>
    <header class="header">
      <h2>Consulta Financeira</h2>
      <a class="btn small" id="logout" th:href="@{/nexo/logout}">Sair</a>
    </header>

    <div class="container">
      <h1>Bem vindo, <span th:text="${usuario.nome}"></span></h1>
      <div class="card">
        <h3>Saldo Mensal</h3>
        <p id="saldo">R$ <span th:text="${#numbers.formatDecimal(saldo.quantia, 1, 2, 'COMMA')}"></span></p>
      </div>

      <div class="card">
        <h3>Filtrar despesas</h3>

        <label><data></data></label>
        <input type="number" id="filtro-data" placeholder="Ex: 10" />

        <button class="btn" id="btn-filtrar">Consultar</button>
      </div>

      <div class="card">
        <h3>Despesas
          <a href="#" id="btn-add-categoria" class="btn btn-primary" style="font-size: 10px; text-decoration: none;">
            Adicionar Categoria
          </a>
          <a href="#" id="btn-add-despesa" class="btn btn-primary" style="font-size: 10px; text-decoration: none;">
            Adicionar Despesa
          </a>
        </h3>
        <p>É necessário adicionar uma categoria para adicionar uma despesa</p>
        <form style="display: none;" method="POST" th:action="@{/nexo/despesas/adicionar}" th:object="${usuario}">
          <input type="hidden" name="email" th:value="${usuario.email}" checked/>
          <input type="hidden" name="nomel" th:value="${usuario.nome}" checked/>
          <input type="hidden" name="senha" th:value="${usuario.senha}" checked/>
          <input type="submit" id="btn-enviar-escondido"/>
        </form>
        <form style="display: none;" method="POST" th:action="@{/nexo/categoria/adicionar}" th:object="${usuario}">
          <input type="hidden" name="email" th:value="${usuario.email}" checked/>
          <input type="hidden" name="nomel" th:value="${usuario.nome}" checked/>
          <input type="hidden" name="senha" th:value="${usuario.senha}" checked/>
          <input type="submit" id="btn-enviar-escondido-1"/>
        </form>
        <table border="1" width="100%" cellpadding="6">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Data</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody id="tabela-despesas">
            <tr th:each="d : ${despesas}">
              <td th:text="${d.descricao}">Descrição</td>
              <td th:text="${#numbers.formatDecimal(d.quantia, 1, 2, 'COMMA')}">0,00</td>
              <td th:text="${#temporals.format(d.data, 'dd/MM/yyyy')}">01/01/2025</td>
              <td th:text="${d.categoria.nome}">categoria</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script th:src="@{/js/consultora.js}"></script>
  </body>
</html>
